.green-user {
    border: 1px solid green;
    /* width: 600px; */
}

.red-user {
    border: 1px solid red;
    /* width: 600px; */
}

.button {
    margin: 0.25rem;
}

input {
    float: left;
    clear: left;
    width: 250px;
}

.input-label {
    float: left;
    clear: left;
}